@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Open Sans", sans-serif;
}

.hero {
  background: #02160b;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  background: url("../assets/images/bg-head.png") 0 0/cover no-repeat;
  height: 779px;
}

.content {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 19px;
  margin-bottom: 120px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__pic {
  margin-right: 15px;
}

.logo__text {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: white;
}

.navigate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigate__item {
  margin-right: 61px;
}

.navigate__item:last-child {
  margin: 0;
}

.navigate__link {
  font-size: 23px;
  line-height: 60px;
  color: white;
}

.navigate__search-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../assets/images/icons/search.svg") center no-repeat;
  vertical-align: middle;
}

.navigate__button {
  width: 120px;
  height: 50px;
  border: 2px solid #cd6326;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 27px;
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 274px;
}

.info__title {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
  margin-bottom: 51px;
}

.info__text {
  font-size: 18px;
  line-height: 27px;
  color: white;
  margin-bottom: 49px;
}

.info__button {
  width: 160px;
  height: 60px;
  background-color: #cd6326;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 27px;
  color: white;
}

.main {
  background-color: #cccccc;
  height: 1368px;
  padding-top: 120px;
}

.main__title {
  font-size: 48px;
  line-height: 72px;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

.main__subtitle {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  color: #666666;
  margin-bottom: 120px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__arrow {
  width: 30px;
  height: 70px;
}

.slider__arrow_left {
  background: url("../assets/images/icons/slider-left.svg") center no-repeat;
  margin-right: 30px;
}

.slider__arrow_right {
  background: url("../assets/images/icons/slider-right.svg") center no-repeat;
  margin-left: 30px;
}

.slider__image {
  padding: 0 30px;
}

.slider__image figure {
  position: relative;
}

.slider__image figure figcaption {
  position: absolute;
  color: white;
  text-align: center;
  bottom: 0;
  right: 0;
  width: 100%;
}

.slider__image figure figcaption h3 {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 10px;
}

.slider__image figure figcaption p {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */