@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
$font-main: "Open Sans", sans-serif;
$font-add: "Roboto", sans-serif;
$color-main: #cd6326;
$color-text: white;

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  font-family: $font-main;
}

// first block - hero

.hero {
  background: #02160b;
}
.wrapper {
  max-width: 1440px;
  margin: auto;
  background: url("../assets/images/bg-head.png") center / cover no-repeat;
  height: 779px;
}
.content {
  max-width: 1200px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  margin-bottom: 120px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__pic {
    margin-right: 15px;
  }

  &__text {
    font-family: $font-add;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: $color-text;
  }
}

.navigate {
  &__list {
    display: flex;

    align-items: center;
  }

  &__item {
    margin-right: 61px;
  }

  &__item:last-child {
    margin: 0;
  }

  &__link {
    font-size: 23px;
    line-height: 60px;
    color: $color-text;
    &:hover {
      color: $color-main;
    }
  }

  &__search-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../assets/images/icons/search.svg") center no-repeat;
    vertical-align: middle;
    &:hover {
      background: url("../assets/images/icons/search-hover.svg") center no-repeat;
    }
  }

  &__button {
    width: 120px;
    height: 50px;
    border: 2px solid $color-main;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    color: $color-text;
    font-family: $font-add;
    font-size: 23px;
    line-height: 27px;
    &:hover {
      background: $color-main;
    }
  }
}

.hero {
  &__info {
    display: flex;
    flex-direction: column;
    max-width: 274px;
  }
}
.info {
  &__title {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: $color-main;
    margin-bottom: 51px;
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    color: $color-text;
    margin-bottom: 49px;
  }

  &__button {
    width: 160px;
    height: 60px;
    background-color: $color-main;
    border-radius: 5px;
    font-family: $font-add;
    font-size: 23px;
    line-height: 27px;
    color: $color-text;
    &:hover {
      background-color: #e39128;
    }
    &:active {
      background-color: #8f5613;
    }
  }
}

// second block - main
.main {
  background-color: #cccccc;
  height: 1368px;
  padding-top: 120px;

  &__title {
    font-size: 48px;
    line-height: 72px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
  }

  &__subtitle {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #666666;
    margin-bottom: 120px;
  }
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 239px;

  &__arrow {
    width: 30px;
    height: 70px;

    &_left {
      background: url("../assets/images/icons/slider-left.svg") center no-repeat;
      margin-right: 30px;
      &:hover {
        background: url("../assets/images/icons/slide-left-hover.svg") center no-repeat;
      }
    }

    &_right {
      background: url("../assets/images/icons/slider-right.svg") center no-repeat;
      margin-left: 30px;
      &:hover {
        background: url("../assets/images/icons/slide-right-hover.svg") center no-repeat;
      }
    }
  }

  &__image {
    padding: 0 30px;
    figure {
      position: relative;
      figcaption {
        position: absolute;
        color: $color-text;
        text-align: center;
        bottom: 0;
        right: 0;
        width: 100%;
        h3 {
          font-size: 22px;
          line-height: 36px;
          margin-bottom: 10px;
        }
        p {
          font-size: 17px;
          line-height: 27px;
          margin-bottom: 40px;
        }
      }
    }
  }
}
.form {
  &__title {
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
    margin-bottom: 61px;
  }

  &__field {
    display: flex;
    justify-content: center;
    font-family: $font-add;
  }

  &__textarea {
    width: 540px;
    height: 60px;
    border: 1px solid #666666;
    background: transparent;
    align-items: center;
    color: #666666;
    padding: 0 15px;
    font-size: 23px;
    line-height: 27px;
    &:focus {
      background-color: $color-text;
    }
  }

  &__button {
    width: 120px;
    height: 60px;
    font-size: 23px;
    line-height: 27px;
    color: $color-text;
    background: #cd6326;
    border: 1px solid #cd6326;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
  }
}

// footer

.footer {
  background: #02160b;
}

.wrapper-footer {
  max-width: 1440px;
  margin: auto;
  background: url("../assets/images/bg-footer.png") center / cover no-repeat;
  height: 359px;
}

.content {
  max-width: 1200px;
  margin: auto;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 150px 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__pic {
    margin-right: 15px;
  }

  &__text {
    font-family: $font-add;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: $color-text;
  }
}

.navigate {
  &__item {
    &_footer {
      margin-right: 85px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
.contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    padding-right: 27px;
    &:last-child {
      padding-right: 0px;
    }
  }

  &__link {
    display: inline-block;
    width: 40px;
    height: 40px;

    &_facebook {
      background: url("../assets/images/icons/facebook.svg") center / cover no-repeat;
      &:hover {
        background: url("../assets/images/icons/facebook-hover.svg") center / cover no-repeat;
      }
    }

    &_instagram {
      background: url("../assets/images/icons/instagram.svg") center / cover no-repeat;
      &:hover {
        background: url("../assets/images/icons/instagram-hover.svg") center / cover no-repeat;
      }
    }

    &_pinterest {
      background: url("../assets/images/icons/pinterest.svg") center / cover no-repeat;
      &:hover {
        background: url("../assets/images/icons/pinterest-hover.svg") center / cover no-repeat;
      }
    }

    &_telegram {
      background: url("../assets/images/icons/telegram.svg") center / cover no-repeat;
      &:hover {
        background: url("../assets/images/icons/telegram-hover.svg") center / cover no-repeat;
      }
    }
  }
}
